.navbar {
  padding: 20px 0 20px 10%;
  background: #fbffc2;
}

.container {
  padding: 0 15% 0 15%;
}

.btn-start {
  border: 0.1rem solid red;
  padding: 0.5rem;
  border-radius: 0.5rem;
  color: red;
  background-color: white;
  transition: all 0.1s ease-in-out;
}

.btn-start-dice {
  display: inline-block;
  margin-right: 0.5rem;
}

.btn-start:hover {
  background-color: red;
  color: white;
}

.food-item {
  border: 0.1rem solid transparent;
  border-radius: 0.5rem;
  box-sizing: border-box;
  padding: 0.2rem;
  margin-bottom: 0.2rem;
  transition: all 0.03s ease-in-out;
}

.food-item:hover {
  background-color: red;
  color: white;
}

.food-item-chose {
  background-color: red;
  color: white;
}
